body {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #4582EC;
	height: 75px;
}

.menu {
	float: left;
}

.menu ul {
	padding: 0;
	margin: 0;
	padding-left: 200px;
}

.menu ul li {
	list-style-type: none;
	float: left;
}

.menu ul li a {
	display: block;
	color: white;
	padding: 30px;
	text-decoration: none;
	font-size: 25px;
}

.header ul li a:hover {
	color: aqua;
}

.login {
	float: left;
}

.login ul {
	padding: 0;
	margin: 0;
	padding-left: 200px;
}

.login ul li {
	list-style-type: none;
	float: left;
}

.login ul li a {
	display: block;
	color: white;
	padding: 30px;
	text-decoration: none;
	font-size: 25px;
}

#ben {
	width: 250px;
	height: 300px;
	border-radius: 100px;
}

.kucultme {
	width: 50px;
	height: 50px;
}

.kisisel-bilgiler {
	float: left;
	padding: 20px;
	color: darkblue;
	height: 650px;
}

.content {
	float: left;
}

.icerik {
	padding-top: 20px;
	padding-left: 400px;
	font-size: 18px;
	color: darkblue;
}

.resim {
	padding: 10px;
	float: left;
	width: 250px;
}

.paragraf {
	float: left;
	padding-left: 10px;
	width: 400px;
}

.clear {
	clear: both;
}

.footer {
	padding: 20px;
	background-color: #4582EC;
	padding-left: 500px;
	color: white;
	font-size: 20px;
}

.takim {
	float: right;
	padding: 20px;
	color: darkblue;
}

.giris {
	padding-top: 20px;
	padding-left: 400px;
	font-size: 18px;
}

h4 {
	margin-top: 1em;
	color: #eee;
	font-size: 150%;
	font-weight: 300;
	text-align: center;
}

.login_input {
	display: block;
	width: 98%;
	height: 30px;
	margin-top: 1.0em;
	padding: 4px;
}

.login-box {
	padding: 1em 1em 1em 1em;
	margin: auto;
	text-align: center;
	display: block;
	background-color: #6f92dc;
	width: 70%;
	height: auto;
}

.outer-box {
	display: block;
	background: #6f92dc;
	border-radius: 5px;
	width: 50%;
	height: 20em;
	height: auto;
}

.btn-login {
	display: block;
	width: 98%;
	height: 40px;
	margin-top: 2.0em;
	border-radius: 4px;
	background-color: #3366cc;
	color: #fff;
}

.iletisim {
	background-color: #efefef;
	width: 250px;
	font-weight: bold;
}

td {
	font-weight: bold;
	font-size: 13pt;
}

tr{
	width: 98%;
	height: 30px;
	margin-top: 1.0em;
	padding: 4px;
}